.user-info__data {
  max-width: 415px;
  margin-left: 36px;
}

@media screen and (max-width: 1150px) {
  .user-info__data {
    max-width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .user-info__data {
    margin: 20px 0;
    text-align: center;
  }
}
