.user-info__photo-overlay {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  

.user-info__photo-overlay:hover {
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  