.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: black;
  margin-top: 48px;
  color: white;

  font-size: 18px;
}

.popup__button:hover {
  opacity: 80%;
}
