.user-info__button-edit {
  margin-top: 24px;
  width: 38px;
  height: 18px; 
  font-size: 12px;
  line-height: 15px;  
}

.user-info__button-edit:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1000px) {
  .user-info__button-edit {
    margin: 24px auto;
  }
}