.user-info__job {
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 1150px) {
  .user-info__job {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .user-info__job {
    font-size: 14px;
  }
}
