.popup__close {
  width: 32px;
  position: absolute;
  top: -36px;
  right: -36px;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .popup__close {
    width: 26px;
    top: -26px;
    right: -26px;
  }
}

