.popup__image-src {
  max-width: 80vw;
  max-height: 80vh;
}

.popup__image-content {
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
  width: initial;
}



@media screen and (max-width: 380px) {
  .popup__image-src {
    max-width: 75vw;
    max-height: 60vh;
   
  }
}